@charset "UTF-8";
@import url("https://use.typekit.net/ebh0azc.css");

/* Global Variables */

html {
    /* Fonts Styles */
    --header-1: normal 400 2.625rem/3.3125rem manometer-sans, sans-serif;
    --header-2: normal 700 2.5rem/3.5625rem omnium, sans-serif; 
    --header-3: normal 700 1.875rem/1.875rem omnium, sans-serif; 
    --para-1: normal 500 2.5rem/3.5625rem omnium, sans-serif; 
    --title-1: normal 400 5rem/6.25rem manometer-sans, sans-serif;
    --title-2: normal 700 3.5rem/3.5rem omnium, sans-serif;
}

.header-1 {
    font: var(--header-1);
    text-transform: lowercase;
    text-align: left;
}

.header-2 {
    font: var(--header-2);
}

.header-3 {
    font: var(--header-3);
    text-transform: uppercase;
}

.para-1 {
    font: var(--para-1);
}

.title-1 {
    font: var(--title-1);
    text-decoration: underline;
}

.title-2 {
    font: var(--title-2);
    text-transform: uppercase;
}

/* Layout styling */

/* Background */
.button-column {
    border-width: 0;
    border-radius: 0;
    height: 100%;
    margin: 0;
    padding: auto;
    padding-left: 1.40625rem;
    text-orientation: mixed;
    width: 100%;
    writing-mode: vertical-lr; 
}
main {
    align-items: stretch;
    align-content: stretch;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    position: absolute;
    left:0;
    top: 0;
    justify-items: stretch;
    justify-content: stretch;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.right-jus {
    text-align: right;
    padding-right: 1.40625rem;
}
html {
    font-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

* {    
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



nav, .modal {
    position: relative;
    z-index: 100;
}