@charset "UTF-8";
@import url("https://use.typekit.net/ind7qjh.css");

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
}

main {
    display: inline-flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    z-index: 10;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
}
.column_button {
    width: 100%;
    height: 100%;
    border-width: 0;
    text-orientation: sideways-right;
    text-align: center;
    justify-content: end;
    border-radius: 0;
    padding: auto;
    
}


nav {
    z-index: 100;
}